html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:url(b3.png);
    font-family: 'Coda', cursive;
}
.container1 {
    width: 1345px;
    height:600px ;
    background-image:url(5.jpg);
    text-align: center;
}
.Image img{
    height: 200px;
    width: 350px;
    display: block;
    margin-top: 50;
    margin-left: 550;
    margin-right: 0;
    margin-bottom: 10;
    border-radius: 50%;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background-image:url(5.jpg);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    font-size: 0;
    background-image:url(bak1.jpg);
 border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    
}

.deck .card.open {
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.unmatched {
    background: red;
    cursor: default;
}

.deck .card.disabled {
	pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;

}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    
    color: #780af7;
  
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    
}
/* star color*/
.fa-star {
	color: #FF4400;
}
/*timer layout*/
.timer {
	display: inline-block;
	margin: 2px;
  padding-left: 20px;
}
/* Styles for congratulations modal when game is completed*/
.message {
	position: fixed;
    background: rgba(0, 75, 255, 0.4);
    transition: opacity 400ms;
    visibility: hidden;
    opacity: 0;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.showup {
	margin: 72px auto;
	padding: 21px;
	background: #fff;
	border-radius: 6px;
	width: 88%;
	position: relative;
	font-family: 'Fascinate Inline', serif;
}

.showup h2 {
	font-family: 'Fascinate Inline', serif;
}

.showup .close {
	position: absolute;
	top: 21px;
	right: 32px;
	transition: all 200ms;
	font-size: 32px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.showup .congratulation, .stats {
	max-height: 50%;
	overflow: auto;
	text-align: center;
}

.show {
	visibility: visible;
	opacity: 100;
}

.message h2 {
  text-align: center;
  font-family: 'Fascinate Inline', serif;
}

header h1{
  font-family: 'Fascinate Inline', serif;
}

#star-rating li {
	display: inline-block;
}

#play-again {
    font-family: 'Fascinate Inline', serif;
    border-radius: 5px;
	background-color:#96beff;
    color: #ffffff;
	padding: 10px;
	font-size: 30px;
	display: block;
	margin: auto;
	width: auto;
}

@media screen and (max-width: 600px) {

  /*
   * Score panel
   */

   .score-panel {
    text-align: left;
    width: 380px;
    margin-bottom: 10px;
    font-size: 1.3em;
}

  /*
   * Main deck
   */

  .deck {
    width: 400px;
    min-height: 420px;
    padding: 20px;
  }

  .deck .card {
    height: 80px;
    width: 80px;
  }

  .deck .card.show {
    font-size: 18px;
  }

  @media screen and (max-width: 450px) {

    .material-icons {
      font-size: 24px;
    }

    /*
     * Main deck
     */

    .deck {
      width: 300px;
      min-height: 310px;
      box-shadow: 6px 7px 10px 0 rgba(46, 61, 73, 0.5);
      padding: 10px;
    }

    .deck .card {
      height: 60px;
      width: 60px;
    }

    .deck .card.show {
      font-size: 18px;
    }

    .score-panel {
      padding: 0 0 0 1em;
    }

    /*
     * Score panel
     */
     .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
     .score-panel {
      text-align: left;
      width: 280px;
      margin-bottom: 10px;
      font-size: 1em;
  }
    .score-panel .restart {
      float: right;
      cursor: pointer;
    }

    .score-panel .timer {
      margin-left: 3em;
    }
